---
import ActionButton from "@components/app/atoms/ActionButton.astro";
import TextInput from "@components/app/atoms/TextInput.astro";
---

<form action="" class="flex flex-col gap-4">
  <div class="flex gap-4 w-full">
    <div class="w-3/5">
      <TextInput placeholder="Enter your name" />
    </div>
    <TextInput placeholder="Enter your email" />
  </div>
  <div class="h-[140px]">
    <TextInput textArea placeholder="Enter your message" />
  </div>
  <ActionButton
    type="primary"
    actionType="submit"
    iconBeforeText
    icon="ph:paper-plane-tilt-bold"
  >
    Send
  </ActionButton>
</form>
