---
import LinkButton from "../atoms/LinkButton.astro";

const links = [
  [
    { name: "Home", to: "/" },
    { name: "About", to: "/about" },
    { name: "Work", to: "/work" },
    { name: "Writings", to: "/writings" },
  ],
  [
    { name: "Github", to: "/", target: "_blank" },
    { name: "Twitter", to: "/", target: "_blank" },
    { name: "Codepen", to: "/", target: "_blank" },
    { name: "LinkedIn", to: "/", target: "_blank" },
  ],
  [
    { name: "RSS", to: "/" },
    { name: "Roadmap", to: "/" },
    { name: "Statistics", to: "/" },
    { name: "Contact", to: "/contact" },
  ],
];
---

<footer
  class="relative flex justify-center items-center border-t-2 border-primary-2 min-h-[300px] px-6"
>
  <div
    class="w-full max-w-[600px] grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-4 my-6 mb-[150px] 2xl:my-0 gap-y-7"
  >
    {
      links.map((col) => (
        <ul class="flex flex-col gap-2 leading-inter-compact">
          {col.map((link) => (
            <li class="font-medium text-primary opacity-80 transition-opacity hover:opacity-100">
              <a href={link.to} target={link.target}>
                {link.name}
              </a>
            </li>
          ))}
        </ul>
      ))
    }
    <div class="flex flex-col gap-2">
      <LinkButton to="/test" type="secondary" icon="ph:sun-bold" iconBeforeText
        >Mode: Light
      </LinkButton>
      <LinkButton to="#" type="secondary" icon="ph:arrow-up-bold" iconBeforeText
        >Go back up
      </LinkButton>
    </div>
    <p class="2xl:row-start-2 col-span-full font-medium text-dark-2 text-sm">
      © 2022 Colin Espinas - All Rights Reserved
    </p>
  </div>
</footer>
