---
import ActionButton from "../atoms/ActionButton.astro";
import LinkButton from "../atoms/LinkButton.astro";

const links = [
  [
    { name: "Home", to: "/" },
    { name: "About", to: "/about" },
    { name: "Work", to: "/work" },
    { name: "Writings", to: "/writings" },
  ],
  [
    { name: "Github", to: "https://github.com/ColinEspinas", target: "_blank" },
    { name: "Twitter", to: "https://twitter.com/call_innn", target: "_blank" },
    { name: "Codepen", to: "https://codepen.io/Call_in", target: "_blank" },
    {
      name: "LinkedIn",
      to: "https://www.linkedin.com/in/colin-espinas/",
      target: "_blank",
    },
  ],
  [
    { name: "RSS", to: "/" },
    { name: "Roadmap", to: "/" },
    { name: "Statistics", to: "/" },
    { name: "Contact", to: "/contact" },
  ],
];

const currentYear = new Date().getFullYear();
---

<footer
  class="relative flex justify-center items-center border-t-2 border-primary-2 min-h-[300px] px-6"
>
  <div
    class="w-full max-w-[600px] grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-4 my-6 mb-[150px] 2xl:my-0 gap-y-7"
  >
    {
      links.map((col) => (
        <ul class="flex flex-col gap-2 leading-inter-compact">
          {col.map((link) => (
            <li class="font-medium text-primary opacity-80 transition-opacity hover:opacity-100">
              <a
                href={link.to}
                target={link.target}
                data-swup-preload={link.target !== "_blank"}
              >
                {link.name}
              </a>
            </li>
          ))}
        </ul>
      ))
    }
    <div class="flex flex-col gap-2">
      <ActionButton
        id="footer-theme-switch"
        type="secondary"
        icon="ph:sun-bold"
        iconBeforeText
        ><span id="theme-state">Mode: Light</span>
      </ActionButton>
      <LinkButton to="#" type="secondary" icon="ph:arrow-up-bold" iconBeforeText
        >Go back up
      </LinkButton>
    </div>
    <p
      class="2xl:row-start-2 col-span-full font-medium text-dark-2 text-sm"
      id="copyright-text"
    >
      © {currentYear} Colin Espinas - All Rights Reserved
    </p>
  </div>
</footer>

<script>
  import { toggleDarkMode, isDarkModeActive } from "@scripts/theme";

  document
    .getElementById("footer-theme-switch")
    .addEventListener("click", () => {
      toggleDarkMode();
      document.getElementById("theme-state").textContent = `Mode: ${
        isDarkModeActive() ? "Dark" : "Light"
      }`;
    });
</script>
