---
import LinkButton from "./LinkButton.astro";

const links = [
  [
    { name: "Home", to: "/" },
    { name: "About", to: "/about" },
    { name: "Work", to: "/work" },
    { name: "Writing", to: "/writing" },
  ],
  [
    { name: "Github", to: "/", target: "_blank" },
    { name: "Twitter", to: "/", target: "_blank" },
    { name: "Codepen", to: "/", target: "_blank" },
    { name: "LinkedIn", to: "/", target: "_blank" },
  ],
  [
    { name: "RSS", to: "/" },
    { name: "Roadmap", to: "/" },
    { name: "Statistics", to: "/" },
    { name: "Contact", to: "/contact" },
  ],
];
---

<footer
  class="relative border-t-2 border-primary-2 min-h-[300px] row-start-2 col-span-full grid grid-cols-12 gap-x-5 px-6 items-center"
>
  <div
    class="wrapper grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-4 my-6 mb-[150px] 2xl:my-0 gap-y-7"
  >
    {links.map((col) => (
      <ul class="flex flex-col gap-2 leading-inter-compact">
        {col.map((link) => (
          <li class="font-medium text-primary opacity-80 transition-opacity hover:opacity-100">
            <a href={link.to} target={link.target}>
              {link.name}
            </a>
          </li>
        ))}
      </ul>
    ))}
    <div class="flex flex-col gap-2">
      <LinkButton to="/test" type="secondary" icon="ph:sun-bold" iconBeforeText
        >Mode: Light
      </LinkButton>
      <LinkButton to="#" type="secondary" icon="ph:arrow-up-bold" iconBeforeText
        >Go back up
      </LinkButton>
    </div>
    <p class="2xl:row-start-2 col-span-full font-medium text-dark-2 text-sm">
      © 2022 Colin Espinas - All Rights Reserved
    </p>
  </div>
</footer>

<style>
  .wrapper {
    @apply col-start-1 col-end-13;
    @apply sm:col-start-2 sm:col-end-12;
    @apply md:col-start-3 md:col-end-11;
    @apply lg:col-start-4 lg:col-end-10;
    @apply 2xl:col-start-5 2xl:col-end-9;
  }
</style>
