---
import { Icon } from "astro-icon";

export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<section class="flex flex-col gap-5">
  <h2 class="font-display font-bold text-[32px]">{title}</h2>
  <slot></slot>
</section>
