<div
  class="absolute top-0 left-1/2 -translate-x-1/2 grid grid-cols-5 px-6 h-full w-full -z-10 max-w-[1150px]"
>
  <div class="guide col-start-1 h-full"></div>
  <div class="guide col-start-2 h-full"></div>
  <div class="guide col-start-3 h-full"></div>
  <div class="guide col-start-4 h-full"></div>
  <div class="guide col-start-5 h-full"></div>
  <div class="guide col-start-6 h-full"></div>
</div>

<style>
  .guide {
    width: 2px;
    background: linear-gradient(
      180deg,
      theme("colors.primary-2"),
      theme("colors.primary-2") 50%,
      transparent 0,
      transparent
    );
    background-size: 1px 20px;
    opacity: 0.8;
  }
</style>
