<div class="absolute left-[150px] bottom-[50px] flex gap-4 items-center">
  <div class="w-6 h-[74px] car rotate-[35deg]" />
  <span class="text-sm text-primary-3 font-medium w-[100px]">Press I to start the engine</span>
</div>

<style>
  .car {
    position: relative;
    background-image: url(/images/games/car.png);
    background-size: cover;
    background-color: theme('colors.primary-3');
    mask: url(/images/games/car.png);
    mask-size: cover;
    background-blend-mode: color-dodge;
  }
</style>