---
import Layout from "@layouts/Default.astro";
import LinkButton from "@components/app/atoms/LinkButton.astro";
import Section from "@components/app/atoms/Section.astro";
import WritingList from "@components/app/molecules/WritingList.astro";

const now = new Date();
const minYear = 2022;
const diff = now.getFullYear() - minYear + 1;
const yearsFrom2022ToNow = new Array(diff)
  .fill(0)
  .map((_, index) => now.getFullYear() - index);
---

<Layout title="Writings">
  <header class="flex flex-col gap-5 mb-7">
    <h1 class="font-display text-5xl font-bold leading-[61px]">Writings</h1>
    <p class="leading-[30px] text-dark-1">
      I share through those writings my experiences and discoveries about
      programming and web development.
    </p>

    <LinkButton
      to="/about"
      icon="ph:magnifying-glass-bold"
      type="secondary"
      iconBeforeText
      >Search
    </LinkButton>
  </header>

  <div class="flex flex-col gap-7">
    <Section title="Featured">
      <WritingList featured />
    </Section>
    <Section title="All">
      {
        yearsFrom2022ToNow.map((year) => (
          <>
            <h3 class="font-bold text-dark-1">{year}</h3>
            <WritingList year={year} />
          </>
        ))
      }
    </Section>
  </div>
</Layout>
