---
import Layout from "../layouts/Default.astro";
import LinkButton from "@components/app/LinkButton.astro";
---

<Layout title="Welcome to Astro.">
  <header class="flex flex-col gap-5 mb-[150px]">
    <h1 class="font-display text-5xl font-bold leading-[61px]">
      <p>Hello,</p><p>I’m Colin Espinas</p>
    </h1>
    <h2 class="font-display text-2xl font-medium leading-[30px] text-dark-2">
      I am crafting <strong>tools</strong> and <strong>experiences</strong> to make
      the web more <strong>open</strong>, <strong>accessible</strong>
      and <strong>beautiful</strong>.
    </h2>

    <LinkButton to="/about" icon="ph:arrow-right-bold" size="big"
      >Learn more about me
    </LinkButton>
  </header>
  <p class="instructions">
    Check out the <code>src/pages</code> directory to get started.<br />
    <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
  </p>

  <LinkButton to="/test" icon="ph:arrow-right-bold" iconBeforeText
    >Send
  </LinkButton>

  <LinkButton to="/test" type="secondary" icon="ph:arrow-right-bold"
    >See more
  </LinkButton>
  <ul role="list" class="link-card-grid"></ul>
</Layout>
