---
import Layout from "@layouts/Default.astro";
import Section from "@components/app/atoms/Section.astro";
import WritingColumns from "@components/app/molecules/WritingColumns.astro";
import Card from "@components/app/atoms/Card.astro";
import Link from "@components/app/atoms/Link.astro";
import TechList from "@components/app/molecules/TechList.astro";
import ContactForm from "@components/app/molecules/ContactForm.astro";
---

<Layout title="About">
  <header class="flex flex-col gap-5 mb-7">
    <h1 class="font-display text-5xl font-bold leading-[61px]">
      A bit about me
    </h1>
    <p class="text-dark-1">
      Hello, I'm an <strong>open source enthousiast</strong> currently working as
      a <strong>Full Stack Web Developer</strong> at <Link
        to="https://www.netatmo.com/"
      >
        Netatmo
      </Link> where I create awesome web experiences for our users and am a student
      in
      <strong>Web and Mobile Engineering</strong> at <Link
        to="https://www.iim.fr/"
      >
        IIM Digital School
      </Link> in Paris.
    </p>
    <p class="text-dark-1">
      I strive to <strong
        >make the web more open, accessible and beautiful</strong
      > by <Link to="/work">crafting tools and experiences</Link> for everyone to
      enjoy.
    </p>
  </header>

  <div class="flex flex-col gap-7">
    <Section title="Things I work on">
      <p class="text-dark-1">
        Those are the subjects I am the most susceptible to <Link to="/work">
          work on
        </Link> and <Link to="/writings">write about</Link>.
      </p>
      <div class="grid sm:grid-cols-2 gap-4">
        <Card clickable={false}>
          <h3 class="mb-4 font-display font-bold text-base text-dark">
            Web Apps/Sites Development
          </h3>
          <p class="leading-inter-reading">
            Attracted by the web since I started learning programming, I create
            experiences for users accross the world.
          </p>
        </Card>
        <Card clickable={false}>
          <h3 class="mb-4 font-display font-bold text-base text-dark">
            Tools Development
          </h3>
          <p class="leading-inter-reading">
            I spend my time creating tools for developers to ease their lives
            and make their work more accessible.
          </p>
        </Card>
        <Card clickable={false}>
          <h3 class="mb-4 font-display font-bold text-base text-dark">
            User Interface Design
          </h3>
          <p class="leading-inter-reading">
            A lover of beautiful, usable and accessible interfaces to interact
            with, I aim to make my work follow those principles.
          </p>
        </Card>
        <Card clickable={false}>
          <h3 class="mb-4 font-display font-bold text-base text-dark">
            Game Development
          </h3>
          <p class="leading-inter-reading">
            I tend to poke into the world of video game development, I took part
            in game jams and work on game making tools.
          </p>
        </Card>
      </div>
      <p class="text-dark-1">
        I remain open to any experiences outside of those subjects and am <strong
        >
          always ready to learn more</strong
        >.
      </p>
    </Section>
    <Section title="Technologies I like to work with">
      <p class="text-dark-1">
        I don't like limiting myself to a specific tech stack but here is a
        non-exhaustive list of technologies I tend to work with.
      </p>
      <TechList />
      <p class="text-dark-1">
        I also like to work from scratch and make my own tools when I get the
        occasion, creating frameworks and libraries is one of my hobbies.
      </p>
      <p class="text-dark-1">
        I am <strong>not scared to learn new things</strong> as the ecosystem progresses
        and am
        <strong>always interested by new ideas</strong>.
      </p>
    </Section>
    <Section title="Read some of my writings">
      <WritingColumns />
    </Section>
    <Section title="Let's talk together">
      <p class="text-dark-1">
        I am open to conversations, if you have any question about my content,
        my work or simply want to chat with me you can contact me on various
        social medias such as <Link to="https://twitter.com/call_innn">
          Twitter
        </Link>, <Link to="https://www.linkedin.com/in/colin-espinas/">
          LinkedIn
        </Link>, <Link to="https://github.com/ColinEspinas">GitHub</Link> or simply
        use the form below.
      </p>
      <ContactForm />
    </Section>
  </div>
</Layout>
