---
import Layout from "@layouts/Default.astro";
---

<Layout title="Contact">
  <header class="flex flex-col gap-5 mb-7">
    <h1 class="font-display text-5xl font-bold leading-[61px]">Talk with me</h1>
    <p class="leading-[30px] text-dark-1">
      I am open to conversations, if you have any question about my content, my
      work or simply want to chat with me you can contact me on various social
      medias such as Twitter, LinkedIn or GitHub or simply use the form below.
    </p>
  </header>

  <div class="flex flex-col gap-7"></div>
</Layout>
