---
import Layout from "../layouts/Default.astro";
import LinkButton from "@components/app/LinkButton.vue";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="font-display">Welcome to <span class="text-gradient">Astro</span></h1>
    <p class="instructions">
			Check out the <code>src/pages</code> directory to get started.<br />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
    <LinkButton to="/test">Learn more about me</LinkButton>
    <ul role="list" class="link-card-grid">

    </ul>
  </main>
</Layout>

<style>

</style>
