---
import Layout from "../layouts/Default.astro";
import Card from "../components/Card.astro";
import Button from "@components/app/Button.vue";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Welcome to <span class="text-gradient">Astro</span></h1>
    <p class="instructions">
			Check out the <code>src/pages</code> directory to get started.<br />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
    <Button to="/test">Learn more about me</Button>
    <ul role="list" class="link-card-grid">
      <Card
        href="/test"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
      />
    </ul>
  </main>
</Layout>

<style>

</style>
