---
import Layout from "@layouts/Default.astro";
import Section from "@components/app/atoms/Section.astro";
import ProjectList from "@components/app/molecules/ProjectList.astro";
---

<Layout title="Work">
  <header class="flex flex-col gap-5 mb-7">
    <h1 class="font-display text-5xl font-bold leading-[61px]">Work</h1>
    <span class="leading-[30px] text-dark-1">
      <p>
        Being an open source enthousiast, I like creating or contributing to
        tools and apps to make the web more open and accessible.
      </p>
      <br />
      <p>I also like to work on projects related to game development.</p>
    </span>
  </header>

  <div class="flex flex-col gap-7">
    <Section title="Latest projects">
      <ProjectList />
    </Section>
    <Section title="Libraries & Frameworks">
      <ProjectList category="libs" />
    </Section>
    <Section title="Apps & Websites">
      <ProjectList category="apps" />
    </Section>
    <Section title="Games & Engines">
      <ProjectList category="games" />
    </Section>
  </div>
</Layout>
