---
import DashedLines from "@components/app/DashedLines.astro";
import Footer from "@components/app/Footer.astro";
import Navigation from "@components/app/Navigation.astro";
import Fonts from "@components/head/Fonts.astro";
import { Icon } from "astro-icon";

export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
    <Fonts />
  </head>
  <body class="bg-light text-dark">
    <Navigation />
    <div class="grid grid-cols-12 md:gap-x-5 px-6 relative">
      <DashedLines />
      <main id="swup" class="my-[150px]">
        <slot></slot>
      </main>
    </div>
    <Footer />
    <script data-swup-ignore-script>
      import "@scripts/sounds.ts";
      import "@scripts/swup.ts";
      import "@scripts/navigation.ts";
    </script>
  </body>
</html>

<style>
  main {
    @apply col-start-1 col-end-13;
    @apply sm:col-start-2 sm:col-end-12;
    @apply md:col-start-3 md:col-end-11;
    @apply lg:col-start-4 lg:col-end-10;
    @apply 2xl:col-start-5 2xl:col-end-9;
  }
</style>
