---
import Navigation from '@components/app/Navigation.vue'
import Fonts from '@components/head/Fonts.astro';
import { Icon } from 'astro-icon';

export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
    <Fonts></Fonts>
  </head>
  <body class="bg-light grid grid-cols-12 gap-x-5 px-6">
    <Navigation></Navigation>
    <main class="col-start-5 col-end-9">
      <slot />
    </main>
  </body>
</html>
<style>

</style>
