---
import DashedLines from "@components/app/atoms/DashedLines.astro";
import Cursors from "@components/app/molecules/Cursors.svelte";
import Footer from "@components/app/organisms/Footer.astro";
import Navigation from "@components/app/organisms/Navigation.astro";
import Fonts from "@components/head/Fonts.astro";
import { Icon } from "astro-icon";

export interface Props {
  title?: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex,nofollow" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <title>
      {Astro.url.pathname !== "/" && title + " -"} Colin Espinas - Full Stack Web
      Developer
    </title>
    <Fonts />
  </head>
  <body class="bg-light text-dark relative">
    <Cursors client:only
      ><Icon name="ph:cursor-fill" class="text-primary-alpha-2 h-4 w-4" />
    </Cursors>
    <Navigation />
    <div class="flex justify-center px-6 relative">
      <DashedLines />
      <main
        id="swup"
        class="w-full max-w-[600px] mb-[150px] mt-6 sm:mt-[150px]"
      >
        <slot />
      </main>
    </div>
    <Footer />
    <script>
      import "@scripts/swup.ts";
    </script>
    <style is:global>
      p {
        @apply text-base leading-inter-reading;
      }
    </style>
  </body>
</html>
