---
import Layout from "@layouts/Default.astro";
import LinkButton from "@components/app/LinkButton.astro";
import Section from "@components/app/Section.astro";
import WavyText from "@components/app/WavyText.astro";

const posts = await Astro.glob('./**/*.md');
---

<Layout title="Writing - Colin Espinas - Full Stack Web Developer">
  <header class="flex flex-col gap-5 mb-7">
    <h1 class="font-display text-5xl font-bold leading-[61px]">Writing</h1>
    <p class="leading-[30px] text-dark-1">
      I share through my writing my experiences and discoveries about
      programming and web development.
    </p>

    <LinkButton
      to="/about"
      icon="ph:magnifying-glass-bold"
      type="secondary"
      iconBeforeText
      >Search
    </LinkButton>
  </header>

  <div class="flex flex-col gap-7">
    <Section title="Featured articles">
      <ul role="list" class="link-card-grid"></ul>
    </Section>
    <Section title="All articles">
      {posts.map((post) => (
        <a class="text-primary" href={post.url}>
          <h2>{post.frontmatter.title}</h2>
        </a>
      ))}
      <ul role="list" class="link-card-grid"></ul>
    </Section>
  </div>
</Layout>
